.diagram-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.diagram-bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #fefae1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.diagram-bar__fill {
  background-color: #bd8025;
  width: 100%;
  transition: all 0.3s ease-out;
}

.diagram-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}
