.diagram {
  padding: 1rem;
  border-radius: 12px;
  background-color: #ebc137;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 10rem;
  margin: 1rem 0;
  gap: 1rem;
}
