.new-cost__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-cost__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-cost__control input{
    font: inherit;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-cost__actions {
    text-align: left;
}