.costs-header {
    display: flex;
    justify-content: space-between;
}

.costs-header__description {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
}

.costs-header select{
    font: inherit;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 8rem;
    text-align: center;
    max-width: 100%;
    font-weight: bold;
}